@keyframes slideAdd {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.slideAnim {
    animation: slideAdd 3s forwards;
}

@media screen and (min-width: 425px) {
    .mrem {
        max-width: 5rem;
    }
}

.del {
   padding: 0px 5px;
   max-width: 32px;
}


@media screen and (max-width: 550px) {
    .imgHide {
        display: none;
    }
}
